/*CSS Mobile First*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Letras:
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Fredoka', sans-serif;
    
    Colores:

    #E7F6FC azul claro, #87DDFF celeste y #ED7F05 naranja.
    
    */
}

body{
    font-family: 'Fredoka', sans-serif;
}

/*-------------------------------- HEADER ------------------------------*/
header{
    background-color: #E7F6FC;
}
header a{
    text-decoration: none;
}
.titulo{
    color: #87DDFF;
    text-shadow: 0px 2px 2px black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    width: 300px;
}
.titulo img{
    padding-right: 10px;
    width: 30%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.secciones{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 500px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
.redes img{
    width: 100%;
    padding: 5px;
}
.home,.adopta,.foro,.contacto{
    border-radius: 10px;
    background-color: #ED7F05;
    color: #E7F6FC;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 2px black;
}
.entra{
    border-radius: 10px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0px 0px 2px black;
}

#divL{
    display: none;
    position: absolute;
    top: 300px;
    background-color: #87DDFF;
    text-align: center;
    width: 410px;
    height: 420px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
}
#divL img{
    width: 25%;
    margin: 10px;
}
#divR{
    display: none;
    position: absolute;
    top: 300px;
    background-color: #87DDFF;
    text-align: center;
    width: 410px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
}
#divR img{
    width: 25%;
    margin: 10px;
}
.contenedorDIV {
    background: #EEE;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.login hr{
    width: 70%;
    margin-left: 60px;
    border: 0.3px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
}
.login h3{
    color: #E7F6FC;
    font-size: 2em;
    text-shadow: 0px 0px 2px black;
}
.inicioS {
    font-size: 1.6em;
    margin: 5px;
}
.completaLogin{
    color:#E7F6FC;
    background-color: #ED7F05;
    height: 70px;
    width: 320px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 0px 8px black;
}
input{
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
    padding: 5px;
}
.Registrate{
    text-shadow: 0px 0px 2px black;
    font-size: 1.2em;
    color: #E7F6FC;
}
.Registrate a{
    color: #E7F6FC;
}
.registro h3{
    color: #E7F6FC;
    font-size: 2em;
    text-shadow: 0px 0px 2px black;
}
.registro hr{
    width: 70%;
    margin-left: 60px;
    border: 0.3px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
}
.textobotonLogin{
    text-shadow: 0px 0px 2px black;
    font-size: 1.2em;
    color: #E7F6FC;
}
.textobotonLogin a{
    color: #E7F6FC;
}

/*-------------------------------- FIN HEADER ------------------------------*/

.contenedor{
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerperro{
    position: absolute;
    z-index: -5;
    width: 1903px;
}
.contenedor{
    margin: auto 0;
}
.contenedor a {
    text-decoration: none;
}
.primerbanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.primerbanner h1{
    padding-bottom: 20px;
    font-weight: 500;
}
.separador{
    width: 22vw;
}
.textoprimerbanner{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #ED7F05;
    margin-top: 90px;
    font-size: 2em;
    width: 800px;
    text-align: center;
    margin-bottom: 100px;
}
.textoprimerbanner h2{
    font-weight: 300;
}
.botoncontacto{
    border-radius: 10px;
    background-color:#E7F6FC;
    color:#87DDFF;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 0px 0px 5px black;
    margin: 30px;
    font-size: 0.8em;
}
.perroygato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #E7F6FC;
    padding: 30px;
}
.perroygato p{
    font-size: 1.5em;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.anuncioPerro a{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 300px;
}
.anuncioGato a{
    width: 300px;
}
.perroygato h1{
    color: #87DDFF;
    text-shadow: 1px 1px 1px black;
}
.anuncioPerro{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.anuncioGato{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.infoGato,.infoPerro{
    display: flex;
    flex-direction: column;
}
.infoPerro{
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: flex-end;
}
.botonVerPerro,.botonVerGato{
    text-align: center;
    border-radius: 10px;
    background-color:#87DDFF;
    color:#E7F6FC;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    box-shadow: 0px 0px 2px black;
    font-size: 1.4em;
    text-shadow: 0px 0px 2px black;
}
.headergato{
    width: 1903px;
    position: absolute;
    z-index: -5;
    /* width: 1903px;
    min-width: 1000px; */
}
.segundobanner{
    font-family: 'Raleway', sans-serif;
    color: #E7F6FC;
    font-size: 1.2em;
    text-align: center;
    width: 900px;
}
.textosegundobanner{
    margin: 30px 0px 25px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.textosegundobanner h1{
    margin: 20px;
    text-shadow: 0px 0px 10px black;
}
.textosegundobanner h2{
    font-weight: 300;
    text-shadow: 0px 0px 10px black;
}
.botonbannergato{
    border-radius: 10px;
    background-color:#ED7F05;
    color:#E7F6FC;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 0px 0px 10px black;
    margin: 30px;
    font-size: 1.2em;
    font-weight: bolder;
}
.tercerbanner{
    font-family: 'Raleway', sans-serif;
    background-color: #E7F6FC;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.tercerbanner h1{
    color: #ED7F05;
}

/*-------------------------------- FOOTER ------------------------------*/

footer{
    display: flex;
    flex-flow: column;
}
.piedepagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color:#E7F6FC;
    border-top: 1px solid black;
    padding-top: 10px;
}
.pie1{
    color: #87DDFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.tituloPie{
    text-shadow: 0px 2px 2px black;
}
.pie1 img{
    padding-right: 10px;
    width: 70px;
}
.redesPie img{
    margin: 20px;
    width: 50px;
}
li{
    list-style:none;
    color: black;
    font-size: 1.2em;
}
.pie2{
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.pie3 h2{
    font-weight: 100;
}
.textoPie{
    background-color: #002b3c;
    padding: 30px;
    text-align: center;
    color: #E7F6FC;
}