/*CSS Mobile First*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
}


/*img{
    width: 5%;
}*/

header{
    background-color: aqua;
}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
.titulo img{
    width: 70px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.secciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 400px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.redes img{
    width: 100%;
    padding: 10px;
}
.contenedor{
    background-image: url("./views/img/headerperro.jpg");
    background-size: cover;
    width: 100%;
}