/*CSS Mobile First*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Letras:
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Fredoka', sans-serif;
    
    Colores:

    #E7F6FC azul claro, #87DDFF celeste y #ED7F05 naranja.
    
    */
}

body{
    font-family: 'Fredoka', sans-serif;
}
header{
    background-color: #E7F6FC;
}
.titulo{
    color: #87DDFF;
    text-shadow: 0px 2px 2px black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    width: 300px;
}
.titulo img{
    padding-right: 10px;
    width: 30%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.secciones{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 500px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.redes img{
    width: 40%;
    padding: 10px;
}
.home,.adopta,.foro,.contacto{
    border-radius: 10px;
    background-color: #ED7F05;
    color: #E7F6FC;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 2px black;
}
.entra{
    border-radius: 10px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0px 0px 2px black;
}
.bannerperro{
    position: absolute;
    z-index: -5;
}
.contenedor{
    margin: auto 0;
}
.primerbanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.primerbanner h1{
    padding-bottom: 20px;
}
.separador{
    width: 22vw;
}
.textoprimerbanner{
    font-family: 'Raleway', sans-serif;
    color: #ED7F05;
    margin-top: 120px;
    font-size: 2em;
    width: 800px;
    text-align: center;
}

