/*CSS Mobile First*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Letras:
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Fredoka', sans-serif;
    
    Colores:

    #E7F6FC azul claro, #87DDFF celeste y #ED7F05 naranja.
    
    */
}
body{
    background-color:#E7F6FC;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;
}

/*-------------------------------- HEADER ------------------------------*/

header{
    background-color:#87DDFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
header a{
    text-decoration: none;
}
input{
    font-family: 'Fredoka', sans-serif;
}
.titulo{
    color: #87DDFF;
    text-shadow: 0px 2px 2px black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    display: none;
    /*width: 300px;*/
}
.titulo img{
    padding-right: 10px;
    width: 30%;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.secciones{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.entraMovil{
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
}
.botonMovil{
    font-size: 1.5em;
}
.homeMovil a,.adoptaMovil a,.contactoMovil a{
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: black;
}
.homeMovil img,.adoptaMovil img,.contactoMovil img,.accederMovil img,.entraMovil img{
    width: 50px;
}
.homeMovil,.adoptaMovil,.contactoMovil,.entraMovil{
    margin: 10px;
    font-size: 0.8em;
    color: black;
}
.homeMovil,.adoptaMovil,.contactoMovil{
    margin-right: 20px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}
.redes img{
    transition: all 0.2s linear;
    width: 40px;
    padding: 5px;
}
.redes img:hover{
    transition: all 0.2s linear;
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
}
.home,.adopta,.contacto,.foro,.entra{
    display: none;
}
.home:hover,.adopta:hover,.foro:hover,.contacto:hover{
    transition: all 0.2s linear;
    box-shadow: 0px 0px 8px black;
}
.home:active,.adopta:active,.foro:active,.contacto:active{
    transition: all 0s linear;
    color:black;
}
.entra:hover{
    box-shadow: 0px 0px 8px black;
    transition: all 0.2s linear;
}
.entra:active{
    background-color:#ED7F05;
    color: #E7F6FC;
}
#divL{
    display: none;
    position: fixed;
    top: 250px;
    background-color: #87DDFF;
    text-align: center;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
    z-index: 20;
}
#divL img{
    width: 20%;
    margin: 10px;
}
#divR{
    display: none;
    position: fixed;
    top: 250px;
    background-color: #87DDFF;
    text-align: center;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
    z-index: 20;
}
#divR img{
    width: 20%;
    margin: 10px;
}
.contenedorDIV {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.login hr{
    width: 70%;
    margin:0 auto;
    border: 0.3px solid white;
    border-radius: 30px;
    margin-bottom: 10px;
}
.login h3{
    color: #E7F6FC;
    font-size: 2em;
    text-shadow: 0px 0px 2px black;
}
.emailLogin,.contraseñaLogin,.emailRegistro,.contraseñaRegistro,.repetirContraseña,.nombreUsuario{
    font-size: 1.5em;
    margin: 5px;
    border-radius: 5px;
    border: 0;
}
.nombreUsuario{
    margin-bottom: 20px;
}
.contraseñaLogin{
    margin-bottom: 20px;
}
.login input::placeholder{
    color: #87DDFF;
}
.registro input::placeholder{
    color: #87DDFF;
}
.completaLogin{
    color:#E7F6FC;
    background-color: #ED7F05;
    height: 50px;
    width: 280px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 0px 8px black;
    font-size: 1.5em;
}
.Registrate{
    margin: 10px;
    text-shadow: 0px 0px 2px black;
    font-size: 1.2em;
    color: #E7F6FC;
}
.Registrate a{
    color: #E7F6FC;
}
.registro h3{
    color: #E7F6FC;
    font-size: 1.8em;
    text-shadow: 0px 0px 2px black;
}
.registro hr{
    width: 70%;
    margin: 0 auto;
    border: 0.3px solid white;
    border-radius: 30px;
    margin-bottom: 10px;
}
.textobotonLogin{
    margin: 10px;
    text-shadow: 0px 0px 2px black;
    font-size: 1.2em;
    color: #E7F6FC;
}
.textobotonLogin a{
    color: #E7F6FC;
}
.sesionIniciada{
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
}
.sesionIniciada img{
    width: 100px;
    border-radius: 100px;
}
.sesionIniciada input{
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    margin-right: 5px;
    box-shadow: 0px 0px 2px black;
    padding: 4px;
}
.menuSesion{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.verPerfil{
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    margin-right: 5px;
    box-shadow: 0px 0px 2px black;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 1.2em;
}
#errorEmail,#errorPassword,#errorConfirmaPassword,#errorUsuario,#errorFormulario{
    display: none;
}

/*-------------------------------- FIN HEADER ------------------------------*/

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    color:#87DDFF;
    margin-top: 10px;
}
.filtro h2{
    margin: 20px;
    font-size: 2.4vw;
    text-shadow: 0 0 1px black;
}
.filtro select{
    font-size: 1.2vw;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color:#ED7F05;
}
.localidad{
    font-size: 1.2vw;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: #ED7F05;
    width: 180px;
}
input::placeholder{
    color: #ED7F05;
}
.contenedorAnimales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.filtrarSubmit{
    font-weight: bold;
    color: #87DDFF;
    background-color:white;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.3vw;
    border: 0;
}
.animal{
    font-family: 'Fredoka', sans-serif;
    margin: 10px;
    border-radius: 25px;
    background-color: #ffffff;
    transition: transform 0.5s linear;
}
.animal img{
    width: 420px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.nombreAnimal{
    font-weight: bold;
    font-size: 1.8em;
    color:#ED7F05;
    margin: 10px;
}
.informacionAnimal{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.localidadAnimal{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: black;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.localidadAnimal img{
    width: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
hr{
    margin: 0 auto;
    width: 100px;
    border: 0.5px solid black;
    opacity: 0%;
    transition: all 0.5s linear;
}
a{
    text-decoration: none;
}
.animal:hover{
    transition: transform 0.5s linear;
    box-shadow: 0px 0px 5px black;
    transform:scale(105%);
}
.animal:hover hr{
    transition: all 1s linear;
    color: white;
    width: 350px;
    opacity: 100%;
}

/*-------------------------------- FOOTER ------------------------------*/

footer{
    display: flex;
    flex-flow: column;
    margin-bottom: 100px;
    width: 100%;
}
.piedepagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:#E7F6FC;
    border-top: 1px solid black;
    padding-top: 10px;
}
.pie1{
    color: #87DDFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.tituloPie{
    text-shadow: 0px 2px 2px black;
}
.pie1 img{
    padding-right: 10px;
    width: 70px;
}
.redesPie img{
    margin: 20px;
    width: 50px;
}
li{
    list-style:none;
    color: black;
    font-size: 1em;
}
.pie2{
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.pie3 h2{
    font-weight: 100;
}
.textoPie{
    background-color: #002b3c;
    padding: 30px;
    text-align: center;
    color: #E7F6FC;
}

@media screen and (min-width:750px) {
    /*-------------------------------- HEADER ------------------------------*/

    header{
        background-color: #E7F6FC;
        position: relative;
    }
    header a{
        text-decoration: none;
    }
    input{
        font-family: 'Fredoka', sans-serif;
    }
    .inicio,.homeMovil,.adoptaMovil,.contactoMovil,.primerbannerMovil,.entraMovil{
        display: none;
    }
    .home,.adopta,.contacto,.foto,.foro,.entra{
        display: block;
    }
    .titulo{
        color: #87DDFF;
        text-shadow: 0px 2px 2px black;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:center;
        width: 300px;
    }
    .titulo img{
        padding-right: 10px;
        width: 30%;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }
    .secciones{
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width: 500px;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
        width: 250px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .redes img{
        transition: all 0.2s linear;
        width: 50px;
        padding: 5px;
    }
    .redes img:hover{
        transition: all 0.2s linear;
        border-radius: 10px;
        box-shadow: 0px 0px 8px black;
    }
    .home,.adopta,.foro,.contacto{
        border-radius: 10px;
        background-color: #ED7F05;
        color: #E7F6FC;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 0px 2px black;
        transition: all 0.2s linear;
    }
    .home:hover,.adopta:hover,.foro:hover,.contacto:hover{
        transition: all 0.2s linear;
        box-shadow: 0px 0px 8px black;
    }
    .home:active,.adopta:active,.foro:active,.contacto:active{
        transition: all 0s linear;
        color:black;
    }
    .entra{
        border-radius: 10px;
        background-color: white;
        color: #ED7F05;
        border: 1px solid #ED7F05;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        box-shadow: 0px 0px 2px black;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .entra:hover{
        box-shadow: 0px 0px 8px black;
        transition: all 0.2s linear;
    }
    .entra:active{
        background-color:#ED7F05;
        color: #E7F6FC;
    }
    #divL{
        display: none;
        position: fixed;
        top: 250px;
        background-color: #87DDFF;
        text-align: center;
        width: 410px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px black;
    }
    #divL img{
        width: 25%;
        margin: 10px;
    }
    #divR{
        display: none;
        position: fixed;
        top: 250px;
        background-color: #87DDFF;
        text-align: center;
        width: 410px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px black;
    }
    #divR img{
        width: 25%;
        margin: 10px;
    }
    .contenedorDIV {
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 10;
    }
    .login hr{
        width: 70%;
        margin:0 auto;
        border: 0.3px solid white;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    .login h3{
        color: #E7F6FC;
        font-size: 2em;
        text-shadow: 0px 0px 2px black;
    }
    .emailLogin,.contraseñaLogin,.emailRegistro,.contraseñaRegistro,.repetirContraseña,.nombreUsuario{
        font-size: 1.8em;
        margin: 5px;
        border-radius: 5px;
        border: 0;
    }
    .nombreUsuario{
        margin-bottom: 20px;
    }
    .contraseñaLogin{
        margin-bottom: 20px;
    }
    .login input::placeholder{
        color: #87DDFF;
    }
    .registro input::placeholder{
        color: #87DDFF;
    }
    .completaLogin{
        color:#E7F6FC;
        background-color: #ED7F05;
        height: 70px;
        width: 320px;
        border: 0;
        border-radius: 50px;
        box-shadow: 0px 0px 8px black;
        font-size: 2em;
    }
    .Registrate{
        margin: 10px;
        text-shadow: 0px 0px 2px black;
        font-size: 1.2em;
        color: #E7F6FC;
    }
    .Registrate a{
        color: #E7F6FC;
    }
    .registro h3{
        color: #E7F6FC;
        font-size: 2em;
        text-shadow: 0px 0px 2px black;
    }
    .registro hr{
        width: 70%;
        margin: 0 auto;
        border: 0.3px solid white;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    .textobotonLogin{
        margin: 10px;
        text-shadow: 0px 0px 2px black;
        font-size: 1.2em;
        color: #E7F6FC;
    }
    .textobotonLogin a{
        color: #E7F6FC;
    }
    .sesionIniciada{
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .sesionIniciada img{
        width: 100px;
        border-radius: 100px;
    }
    .sesionIniciada input{
        font-family: 'Fredoka', sans-serif;
        border-radius: 5px;
        background-color: white;
        color: #ED7F05;
        border: 1px solid #ED7F05;
        margin-right: 5px;
        box-shadow: 0px 0px 2px black;
        padding: 4px;
    }
    .menuSesion{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .verPerfil{
        font-family: 'Fredoka', sans-serif;
        border-radius: 5px;
        background-color: white;
        color: #ED7F05;
        border: 1px solid #ED7F05;
        margin-right: 5px;
        box-shadow: 0px 0px 2px black;
        padding: 4px;
        margin-bottom: 8px;
        font-size: 1.2em;
    }
    #errorEmail,#errorPassword,#errorConfirmaPassword,#errorUsuario,#errorFormulario{
        display: none;
    }


    /*-------------------------------- FIN HEADER ------------------------------*/

    .filtro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        color:#87DDFF;
        margin-top: 10px;
    }
    .filtro h2{
        margin: 20px;
        font-size: 2.4vw;
        text-shadow: 0 0 1px black;
    }
    .filtro select{
        font-size: 1.2vw;
        margin: 10px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        color:#ED7F05;
    }
    .localidad{
        font-size: 1.2vw;
        margin: 10px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        color: #ED7F05;
        width: 180px;
    }
    input::placeholder{
        color: #ED7F05;
    }
    .contenedorAnimales{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .filtrarSubmit{
        font-weight: bold;
        color: #87DDFF;
        background-color:white;
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
        font-size: 1.3vw;
        border: 0;
    }
    .animal{
        font-family: 'Fredoka', sans-serif;
        margin: 10px;
        border-radius: 25px;
        background-color: #ffffff;
        transition: transform 0.5s linear;
    }
    .animal img{
        width: 420px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .nombreAnimal{
        font-weight: bold;
        font-size: 1.8em;
        color:#ED7F05;
        margin: 10px;
    }
    .informacionAnimal{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .localidadAnimal{
        display: flex;
        align-items: center;
        font-size: 1.1em;
        color: black;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .localidadAnimal img{
        width: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    hr{
        margin: 0 auto;
        width: 100px;
        border: 0.5px solid black;
        opacity: 0%;
        transition: all 0.5s linear;
    }
    a{
        text-decoration: none;
    }
    .animal:hover{
        transition: transform 0.5s linear;
        box-shadow: 0px 0px 5px black;
        transform:scale(105%);
    }
    .animal:hover hr{
        transition: all 1s linear;
        color: white;
        width: 350px;
        opacity: 100%;
    }

    /*-------------------------------- FOOTER ------------------------------*/

    footer{
        display: flex;
        flex-flow: column;
    }
    .piedepagina{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        background-color:#E7F6FC;
        border-top: 1px solid black;
        padding-top: 10px;
    }
    .pie1{
        color: #87DDFF;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
    }
    .tituloPie{
        text-shadow: 0px 2px 2px black;
    }
    .pie1 img{
        padding-right: 10px;
        width: 70px;
    }
    .redesPie img{
        margin: 20px;
        width: 50px;
    }
    li{
        list-style:none;
        color: black;
        font-size: 1.2em;
    }
    .pie2{
        margin: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .pie3 h2{
        font-weight: 100;
    }
    .textoPie{
        background-color: #002b3c;
        padding: 30px;
        text-align: center;
        color: #E7F6FC;
    }
}
@media screen and (min-width:1300px) {

    /*-------------------------------- HEADER ------------------------------*/

    header{
        background-color: #E7F6FC;
    }
    header a{
        text-decoration: none;
    }
    input{
        font-family: 'Fredoka', sans-serif;
    }
    .inicio{
        display: block;
    }
    .titulo{
        color: #87DDFF;
        text-shadow: 0px 2px 2px black;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:center;
        width: 300px;
    }
    .titulo img{
        padding-right: 10px;
        width: 30%;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;
    }
    .secciones{
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        width: 500px;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
        width: 250px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .redes img{
        transition: all 0.2s linear;
        width: 50px;
        padding: 5px;
    }
    .redes img:hover{
        transition: all 0.2s linear;
        border-radius: 10px;
        box-shadow: 0px 0px 8px black;
    }
    .home,.adopta,.foro,.contacto{
        border-radius: 10px;
        background-color: #ED7F05;
        color: #E7F6FC;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 0px 2px black;
        transition: all 0.2s linear;
    }
    .home:hover,.adopta:hover,.foro:hover,.contacto:hover{
        transition: all 0.2s linear;
        box-shadow: 0px 0px 8px black;
    }
    .home:active,.adopta:active,.foro:active,.contacto:active{
        transition: all 0s linear;
        color:black;
    }
    .entra{
        border-radius: 10px;
        background-color: white;
        color: #ED7F05;
        border: 1px solid #ED7F05;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        box-shadow: 0px 0px 2px black;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .entra:hover{
        box-shadow: 0px 0px 8px black;
        transition: all 0.2s linear;
    }
    .entra:active{
        background-color:#ED7F05;
        color: #E7F6FC;
    }
    #divL{
        display: none;
        position: fixed;
        top: 250px;
        background-color: #87DDFF;
        text-align: center;
        width: 410px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px black;
    }
    #divL img{
        width: 25%;
        margin: 10px;
    }
    #divR{
        display: none;
        position: fixed;
        top: 250px;
        background-color: #87DDFF;
        text-align: center;
        width: 410px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px black;
    }
    #divR img{
        width: 25%;
        margin: 10px;
    }
    .contenedorDIV {
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 10;
    }
    .login hr{
        width: 70%;
        margin:0 auto;
        border: 0.3px solid white;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    .login h3{
        color: #E7F6FC;
        font-size: 2em;
        text-shadow: 0px 0px 2px black;
    }
    .emailLogin,.contraseñaLogin,.emailRegistro,.contraseñaRegistro,.repetirContraseña,.nombreUsuario{
        font-size: 1.8em;
        margin: 5px;
        border-radius: 5px;
        border: 0;
    }
    .nombreUsuario{
        margin-bottom: 20px;
    }
    .contraseñaLogin{
        margin-bottom: 20px;
    }
    .login input::placeholder{
        color: #87DDFF;
    }
    .registro input::placeholder{
        color: #87DDFF;
    }
    .completaLogin{
        color:#E7F6FC;
        background-color: #ED7F05;
        height: 70px;
        width: 320px;
        border: 0;
        border-radius: 50px;
        box-shadow: 0px 0px 8px black;
        font-size: 2em;
    }
    .Registrate{
        margin: 10px;
        text-shadow: 0px 0px 2px black;
        font-size: 1.2em;
        color: #E7F6FC;
    }
    .Registrate a{
        color: #E7F6FC;
    }
    .registro h3{
        color: #E7F6FC;
        font-size: 2em;
        text-shadow: 0px 0px 2px black;
    }
    .registro hr{
        width: 70%;
        margin: 0 auto;
        border: 0.3px solid white;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    .textobotonLogin{
        margin: 10px;
        text-shadow: 0px 0px 2px black;
        font-size: 1.2em;
        color: #E7F6FC;
    }
    .textobotonLogin a{
        color: #E7F6FC;
    }
    .sesionIniciada{
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .sesionIniciada img{
        width: 100px;
        border-radius: 100px;
    }
    .sesionIniciada input{
        font-family: 'Fredoka', sans-serif;
        border-radius: 5px;
        background-color: white;
        color: #ED7F05;
        border: 1px solid #ED7F05;
        margin-right: 5px;
        box-shadow: 0px 0px 2px black;
        padding: 4px;
    }
    .menuSesion{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .verPerfil{
        font-family: 'Fredoka', sans-serif;
        border-radius: 5px;
        background-color: white;
        color: #ED7F05;
        border: 1px solid #ED7F05;
        margin-right: 5px;
        box-shadow: 0px 0px 2px black;
        padding: 4px;
        margin-bottom: 8px;
        font-size: 1.2em;
    }
    #errorEmail,#errorPassword,#errorConfirmaPassword,#errorUsuario,#errorFormulario{
        display: none;
    }


    /*-------------------------------- FIN HEADER ------------------------------*/

    .filtro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        color:#87DDFF;
        margin-top: 10px;
    }
    .filtro h2{
        margin: 20px;
        font-size: 2.4vw;
        text-shadow: 0 0 1px black;
    }
    .filtro select{
        font-size: 1.2vw;
        margin: 10px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        color:#ED7F05;
    }
    .localidad{
        font-size: 1.2vw;
        margin: 10px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        color: #ED7F05;
        width: 180px;
    }
    input::placeholder{
        color: #ED7F05;
    }
    .contenedorAnimales{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .filtrarSubmit{
        font-weight: bold;
        color: #87DDFF;
        background-color:white;
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
        font-size: 1.3vw;
        border: 0;
    }
    .animal{
        font-family: 'Fredoka', sans-serif;
        margin: 10px;
        border-radius: 25px;
        background-color: #ffffff;
        transition: transform 0.5s linear;
    }
    .animal img{
        width: 420px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .nombreAnimal{
        font-weight: bold;
        font-size: 1.8em;
        color:#ED7F05;
        margin: 10px;
    }
    .informacionAnimal{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .localidadAnimal{
        display: flex;
        align-items: center;
        font-size: 1.1em;
        color: black;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .localidadAnimal img{
        width: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    hr{
        margin: 0 auto;
        width: 100px;
        border: 0.5px solid black;
        opacity: 0%;
        transition: all 0.5s linear;
    }
    a{
        text-decoration: none;
    }
    .animal:hover{
        transition: transform 0.5s linear;
        box-shadow: 0px 0px 5px black;
        transform:scale(105%);
    }
    .animal:hover hr{
        transition: all 1s linear;
        color: white;
        width: 350px;
        opacity: 100%;
    }

    /*-------------------------------- FOOTER ------------------------------*/

    footer{
        display: flex;
        flex-flow: column;
    }
    .piedepagina{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        background-color:#E7F6FC;
        border-top: 1px solid black;
        padding-top: 10px;
    }
    .pie1{
        color: #87DDFF;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
    }
    .tituloPie{
        text-shadow: 0px 2px 2px black;
    }
    .pie1 img{
        padding-right: 10px;
        width: 70px;
    }
    .redesPie img{
        margin: 20px;
        width: 50px;
    }
    li{
        list-style:none;
        color: black;
        font-size: 1.2em;
    }
    .pie2{
        margin: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .pie3 h2{
        font-weight: 100;
    }
    .textoPie{
        background-color: #002b3c;
        padding: 30px;
        text-align: center;
        color: #E7F6FC;
    }

}