/*CSS Mobile First*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Letras:
    
    font-family: 'Raleway', sans-serif;
    font-family: 'Fredoka', sans-serif;
    
    Colores:

    #E7F6FC azul claro, #87DDFF celeste y #ED7F05 naranja.
    
    */
}

body{
    background-color:#87DDFF;
    font-family: 'Fredoka', sans-serif;
}

/*-------------------------------- HEADER ------------------------------*/

header{
    background-color: #E7F6FC;
}
header a{
    text-decoration: none;
}
input{
    font-family: 'Fredoka', sans-serif;
}
.titulo{
    color: #87DDFF;
    text-shadow: 0px 2px 2px black;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    width: 300px;
}
.titulo img{
    padding-right: 10px;
    width: 30%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.secciones{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 500px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}
.redes img{
    transition: all 0.2s linear;
    width: 50px;
    padding: 5px;
}
.redes img:hover{
    transition: all 0.2s linear;
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
}
.home,.adopta,.foro,.contacto{
    border-radius: 10px;
    background-color: #ED7F05;
    color: #E7F6FC;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 2px black;
    transition: all 0.2s linear;
}
.home:hover,.adopta:hover,.foro:hover,.contacto:hover{
    transition: all 0.2s linear;
    box-shadow: 0px 0px 8px black;
}
.home:active,.adopta:active,.foro:active,.contacto:active{
    transition: all 0s linear;
    color:black;
}
.entra{
    border-radius: 10px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    transition: all 0.2s linear;
}
.entra:hover{
    box-shadow: 0px 0px 8px black;
    transition: all 0.2s linear;
}
.entra:active{
    background-color:#ED7F05;
    color: #E7F6FC;
}
#divL{
    display: none;
    position: fixed;
    top: 250px;
    background-color: #87DDFF;
    text-align: center;
    width: 410px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
}
#divL img{
    width: 25%;
    margin: 10px;
}
#divR{
    display: none;
    position: fixed;
    top: 250px;
    background-color: #87DDFF;
    text-align: center;
    width: 410px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
}
#divR img{
    width: 25%;
    margin: 10px;
}
.contenedorDIV {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.login hr{
    width: 70%;
    margin:0 auto;
    border: 0.3px solid white;
    border-radius: 30px;
    margin-bottom: 10px;
}
.login h3{
    color: #E7F6FC;
    font-size: 2em;
    text-shadow: 0px 0px 2px black;
}
.emailLogin,.contrase単aLogin,.emailRegistro,.contrase単aRegistro,.repetirContrase単a,.nombreUsuario{
    font-size: 1.8em;
    margin: 5px;
    border-radius: 5px;
    border: 0;
}
.nombreUsuario{
    margin-bottom: 20px;
}
.contrase単aLogin{
    margin-bottom: 20px;
}
.login input::placeholder{
    color: #87DDFF;
}
.registro input::placeholder{
    color: #87DDFF;
}
.completaLogin{
    color:#E7F6FC;
    background-color: #ED7F05;
    height: 70px;
    width: 320px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 0px 8px black;
    font-size: 2em;
}
.Registrate{
    margin: 10px;
    text-shadow: 0px 0px 2px black;
    font-size: 1.2em;
    color: #E7F6FC;
}
.Registrate a{
    color: #E7F6FC;
}
.registro h3{
    color: #E7F6FC;
    font-size: 2em;
    text-shadow: 0px 0px 2px black;
}
.registro hr{
    width: 70%;
    margin: 0 auto;
    border: 0.3px solid white;
    border-radius: 30px;
    margin-bottom: 10px;
}
.textobotonLogin{
    margin: 10px;
    text-shadow: 0px 0px 2px black;
    font-size: 1.2em;
    color: #E7F6FC;
}
.textobotonLogin a{
    color: #E7F6FC;
}
.sesionIniciada{
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
}
.sesionIniciada img{
    width: 100px;
    border-radius: 100px;
}
.sesionIniciada input{
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    margin-right: 5px;
    box-shadow: 0px 0px 2px black;
    padding: 4px;
}
.menuSesion{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.verPerfil{
    font-family: 'Fredoka', sans-serif;
    border-radius: 5px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    margin-right: 5px;
    box-shadow: 0px 0px 2px black;
    padding: 4px;
    margin-bottom: 8px;
    font-size: 1.2em;
}
#errorEmail,#errorPassword,#errorConfirmaPassword,#errorUsuario,#errorFormulario{
    display: none;
}


/*-------------------------------- FIN HEADER ------------------------------*/

a{
    text-decoration: none;
}
.definicion{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.definicion h1{
    text-shadow: 0 0 1px #E7F6FC;
    text-align: center;
    color:#ED7F05;
    width:  67.70vw;
    font-size: 1.8vw;
}
.definicion img{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #E7F6FC;
    border-radius: 10px;
    width: 20vw;
}
.atributos{
    display: grid;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6";
    grid-gap: 50px;
    margin: 20px;
}
.atributos div{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #E7F6FC;
    padding: 20px;
    text-align: center;
}
.atributos h1{
    text-shadow: 1px 1px 1px black;
    color: #87DDFF;
    margin-bottom: 20px;
    font-size: 2vw;
}
.atributos p{
    color:#ED7F05;
    font-size: 1.5vw;
}
.tituloPreguntas{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.tituloPreguntas h1{
    text-shadow: 0 0 1px #E7F6FC;
    text-align: center;
    color:#ED7F05;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.8vw;
}
.botonPreguntas{
    border-radius: 10px;
    background-color: #ED7F05;
    color: #E7F6FC;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.8vw;
    transition: all 0.2s linear;
}
.botonPreguntas:hover{
    box-shadow: 0px 0px 8px black;
    transition: all 0.2s linear;
}
.pasosAdoptar{
    background-color: #ED7F05;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
    padding-top: 30px;
    font-size: 1.2vw;
    color: #E7F6FC;
}
.pasosAdoptar p{
font-size: 2em;
}
.pasos{
    display: flex;
    flex-flow: row;
    align-items: center;
    color: #ED7F05;
    width: 100%;
}
.pasos p{
    font-size: 1.4vw;
    padding-top: 15px;
}
.paso1,.paso2,.paso3{
    background-color:#E7F6FC;
    width: 31.25vw;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    padding: 30px;
}
.paso2 img{
    width: 24.21vw;
}
.paso3 img{
    padding-top: 10px;
}
.contactar{
    background-color: #E7F6FC;
    padding-top: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #ED7F05;
}
.contactar h1{
    font-size: 1.8vw;
}
.contactar input{
    font-family: 'Fredoka', sans-serif;
    margin: 4px;
}
.informacion{
    font-size: 1.5vw;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.asunto{
    font-size: 1.5em;
    width: 100%;
}
.mensaje{
    font-family: 'Fredoka', sans-serif;
    margin-top: 4px;
    font-size: 1.5em;
}
.nombre,.email{
    font-size: 1.5em;
    width: 48%;
}
.EnviarCorreo{
    border-radius: 10px;
    background-color: white;
    color: #ED7F05;
    border: 1px solid #ED7F05;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
    font-size: 1.5em;
    margin: 10px;
}
.preguntas{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #87DDFF;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #ED7F05;
    font-size: 1.5vw;
}
/*-------------------------------- FOOTER ------------------------------*/

footer{
    display: flex;
    flex-flow: column;
}
.piedepagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color:#E7F6FC;
    border-top: 1px solid black;
    padding-top: 10px;
}
.pie1{
    color: #87DDFF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}
.tituloPie{
    text-shadow: 0px 2px 2px black;
}
.pie1 img{
    padding-right: 10px;
    width: 70px;
}
.redesPie img{
    margin: 20px;
    width: 50px;
}
li{
    list-style:none;
    color: black;
    font-size: 1.2em;
}
.pie2{
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.pie3 h2{
    font-weight: 100;
}
.textoPie{
    background-color: #002b3c;
    padding: 30px;
    text-align: center;
    color: #E7F6FC;
}